{% extends 'base.html' %}

{% block title %} إنشاء حساب  {% endblock title %}


{% block body %}

<header id="home" class="register">
            <div class="overlay headertxt">
                <div class="container">
                    <div>
                        <h1><span>خير السعوديه</span><br>طاقات و أرواح</h1>
                        <p>إنشاء حساب متبرع </p>
                    </div>
                </div>
            </div>
        </header>

        <div class="contact" id="contact">
            <div class="violet-overlay">
                <div class="container">
                    <h2 class="text-center">شارك فى الخير</h2>
                    <div class="contact-form">
                        <form method="post">
                            {% csrf_token %}
                            <input type="email" placeholder="البريد الأكترونى" name="email" id="email"/>
                            <input type="password" placeholder="كلمة السر" name="password" id="password"/>
                            <input type="text" placeholder="الأسم الأول" name="first_name" id="first_name"/>
                            <input type="text" placeholder="إسم العائله" name="last_name" id="last_name"/>
                            <input type="text" placeholder="الهاتف" name="phone" id="phone"/>
                            <input type="text" placeholder="العنوان" name="address" id="address"/>

                            <input type="submit" value="إنشاء حساب">
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock body %}