  <header id="home" >
            <div class="overlay headertxt">
                <div class="container">
                    <div>
                        <h1><span>خير السعوديه</span><br>طاقات و أرواح</h1>
                        <p>مبادرين بالفكرة , ملهمين للحلول  <br> مؤمنين بالتكافل , شغوفين للانجاز  </p>
                        <button><a href="{% url 'login' %}" class="text-uppercase">شارك فى الخير</a></button>
                        <button><a href="{% url 'register' %}" class="text-uppercase"> حساب متبرع</a></button>
                    </div>
                </div>
            </div>
        </header>